<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="url" value="https://ekhatko.visualstudio.com/DefaultCollection/" />
    <add key="login" value="evgeniy.khatko@gmail.com" />
    <add key="password" value="aYsKvHyDEQnoIuJ8Y1Qrfg==" />
    <add key="project" value="test" />
    <add key="testplan" value="pilot" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="tfs_cli.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>